target/
tmp/
logs/
/.lein-repl-history
/.nrepl-port
/.lein-failures
/bower_components
/node_modules
/resources/public/js/compiled
/resources/public/Shryne.zip
/resources/public/feed/
/.lein-env
/figwheel_server.log
/.idea
*.iml
/TODOs.org
resources/public/webpack-bundle*.js
hs_err*
.DS_Store
resources/manifest.json
resources/public/postcss/*css
